.footer {
    color: #F4F4FD;
    background-color: #2E2F42;
    font-style: normal;
    letter-spacing: 0.02em;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    color: #F4F4FD;
    display: block;
    margin-bottom: 16px;
}

.footer-text {
    width: 264px;
}