.footer {
    color: #F4F4FD;
    background-color: #2E2F42;
    font-style: normal;
    letter-spacing: 0.02em;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    color: #F4F4FD;
}

.footer-list {
    display: flex;
    gap: 120px;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer-list-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-list-item:first-child {
    max-width: 264px;
}

.footer-list-item:last-child {
    max-width: 208px;
}