.footer {
    color: #F4F4FD;
    background-color: #2E2F42;
    font-style: normal;
    letter-spacing: 0.02em;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    color: #F4F4FD;
}

.footer-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer .social-list {
    gap: 16px;
}

.text-social,
.logo-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.logo-text {    
    margin-right: 120px;
    max-width: 264px;
}

.text-social {
    max-width: 208px;
}

.text-social p {
    font-weight: 500;
    color: #ffffff;
}

.footer .social-link:hover,
.footer .social-link:focus {
    background-color: #31d0aa;
}